*,
*::before,
*::after {
    box-sizing: border-box;
}

html,body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100%; 
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F6FAFD;
    scroll-padding-top: 55px;
}

nav {
    background-color: #0A1931;
    position: fixed;
    top: 0;
    z-index: 999;
    left: 0;
    width: 100%;
    height: 55px;
    padding-top: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 10px 0
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s ease;
}

nav a:hover {
    display: inline-block;
    transform: scale(1.2);
}

#quien-soy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    min-height: 80vh;
    padding: 60px 20px;
    margin-bottom: 5%;
}

#quien-soy h2 {
    font-size: 5rem;
    margin-bottom: 20px;
}

#quien-soy p {
    font-size: 1.5rem;
    line-height: 1.6;
    max-width: 600px;
}

main {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: auto;
    margin-top: 55px;
}

main #servicios {
    display: flex;
    justify-content: flex-end;
    min-height: 93vh;
    padding: 0;
    padding-top: 0;
    padding-left: 0;
    gap: 7%;
}

#servicios ul {
    width: 45%;
    margin: 0;
}

#servicios li {
    font-size: 1.3rem;
    line-height: 2.8;
    max-width: 600px;
    white-space: nowrap;
    list-style: none;
}

#servicios li::before {
    content: "✔";
    font-weight: bold;
}

#servicios img {
    max-width: 500px;
    margin-top: 5%;
    border-radius: 5%;
}

main #precios {
    display: flex;
    justify-content: center;
    gap: 4%;
    min-height: 90vh;
    padding: 0;
    padding-top: 0;
}

#precios ul {
    width: 51%;
    margin: 0;
}

#precios li {
    font-size: 1.3rem;
    line-height: 2.8;
    max-width: 600px;
    white-space: nowrap;
    list-style: none;
}

#precios li::before {
    content: "✔";
    font-weight: bold;
}

#precios img {
    margin-top: 20%;
}

main #procesos {
    display: flex;
    justify-content: flex-end;
    gap: 7%;
    min-height: 93vh;
    padding: 0;
}

#procesos ul {
    width: 45%;
    margin: 0;
}

#procesos li {
    font-size: 1.3rem;
    line-height: 2.5;
    max-width: 600px;
    list-style: none;
}

#procesos li::before {
    content: "✔";
    font-weight: bold;
}

#procesos img {
    max-width: 500px;
    margin-top: 5%;
    border-radius: 5%;
}

main #confianza {
    display: flex;
    justify-content: flex-end;
    gap: 7%;
    min-height: 85vh;
    padding: 0;
}

#confianza ul {
    width: 55%;
    margin: 0;
}

#confianza li {
    font-size: 1.3rem;
    line-height: 3.5;
    max-width: 600px;
    list-style: none;
}

#confianza li::before {
    content: "✔";
    font-weight: bold;
}

main #contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 50vh;
    padding: 0;
}

#contacto li {
    font-size: 1.5rem;
    line-height: 1.6;
    max-width: 600px;
    white-space: nowrap;
}

#contacto i {
    font-size: 2rem;
    color: #25D366;
    margin-right: 5px;
}

#contacto a {
    text-decoration: none;
    color: #25D366;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #4A7FA7;
    font-size: 0.9rem;
    gap: 2%;
}

#footer p {
    margin: 6px 0;
}

/* Tablets grandes y menores (1024px) */
@media (max-width: 1024px) {
    #quien-soy,
    #servicios,
    #precios,
    #procesos,
    #confianza,
    #contacto {
        min-height: auto;
        padding: 80px 0;
    }
}